/* Add your CSS code below */
a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
.message__time {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 2px solid blue;
}
.message:first-child {
  opacity: 0.5;
}
.message {
  letter-spacing: 3px;
}
