/* Add your own CSS code below */

/*FOR ALL*/
body {
  font-family: sans-serif; /*sans-serif is more beautiful to look at*/
}

.site-header__title {
  font-weight: normal; /*was too thin*/
}

span.heart {
  color: #c85308;
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 767px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .views {
    display: flex;
    align-items: center;
  }

  .view-list__item {
    margin-left: 1em;
  }

  .views__all {
    margin-left: auto;
  }
}

/*FOR INDEX*/
@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 3em;
  }
}

/*FOR ABOUT*/
.cyf {
  font-weight: lighter; /*looks better*/
}

.site-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-article > p {
  max-width: 50em;
  line-height: 1.8em;
}
