.countries {
  display: flex;
}
/* Add your own CSS code below */

.countries--first {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.countries--second {
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
}

.countries--third {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.countries--fourth {
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: center;
}
